<%- include('../layouts/header', {
    title: 'blog-login'
}) %>
<section class="py-5">
    <div class="container">
        <h1>Login</h1>
        <form method="POST" class="w-50 mx-auto" action="/login-submit">
            <div class="form-group mb-3">
                <label for="">Email</label> <br>
                <input type="email" name="email" id="">
            </div>
            <div class="form-group mb-3">
                <label for="">Password</label><br>
                <input type="password" name="password" id="">
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
    </div>
</section>
<%- include('../layouts/footer') %>