<%- include('./layouts/header',{
    title: 'blgo: about'
}) %>
<section>
    <div class="container py-3">
        <h1>This is about page</h1>
        <p class="py-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi debitis nisi alias dignissimos facere quod, error temporibus officia perferendis sequi! Ad, distinctio facilis!</p>
        <p class="py-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi debitis nisi alias dignissimos facere quod, error temporibus officia perferendis sequi! Ad, distinctio facilis!</p>
        <p class="py-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi debitis nisi alias dignissimos facere quod, error temporibus officia perferendis sequi! Ad, distinctio facilis!</p>
        <p class="py-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi debitis nisi alias dignissimos facere quod, error temporibus officia perferendis sequi! Ad, distinctio facilis!</p>
        <p class="py-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi debitis nisi alias dignissimos facere quod, error temporibus officia perferendis sequi! Ad, distinctio facilis!</p>
        <p class="py-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi debitis nisi alias dignissimos facere quod, error temporibus officia perferendis sequi! Ad, distinctio facilis!</p>
        <p class="py-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi debitis nisi alias dignissimos facere quod, error temporibus officia perferendis sequi! Ad, distinctio facilis!</p>
    </div>
</section>
<%- include('./layouts/footer') %>