


<%- include('../layouts/dashboard/head') %>
<%- include('../layouts/dashboard/top_nav') %>
<%- include('../layouts/dashboard/main_containt_top_html') %>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h5 class="mt-4">Static Navigation</h5>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">Static Navigation</li>
            </ol>
            <div>
                <h1>Dashboard content</h1>
            </div>
        </div>
    </main>
</div>

<%- include('../layouts/dashboard/main_containt_bottom_html') %>